/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* 'Press Start 2P' */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap'); /*font-family: 'DotGothic16', sans-serif;*/
@font-face{
  font-family: 'Gothic-Pixels';
  src: url('../fonts/GothicPixels.ttf') format('truetype');
}
@font-face{
  font-family: 'Pixel-Play';
  src: url('../fonts/pixelplay.ttf') format('truetype');
}
@font-face{
  font-family: 'Gothic-Pixels-2';
  src: url('../fonts/gothic_pixel.ttf') format('truetype');
}

:root{
  --background-color: rgba(0,0,50, 1);
  --text-color: white;
}
*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-color);
  color: var(--text-color);
  /*font-family: 'DotGothic16', sans-serif;*/
  /*font-family: 'Press Start 2P', sans-serif;*/
    
}

h1{
  font-family: 'Gothic-Pixels', sans-serif;
  padding: 1rem;
}
h2, h3, p{
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 3px;
}
p{
  font-size: .8rem;
  letter-spacing: 1px;
}
p.body-text{
  font-size: .75rem;
  letter-spacing: 1px;
}
